# Archivos de audio (disponibles en Google Drive)
audios/
audios_ampliados/
notebookGuia
# Archivos temporales de Python
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Archivos del sistema
.DS_Store
Thumbs.db

# Archivos de entorno virtual
venv/
env/